img {
    content: 15px;
    padding: 5px 5px 0px 5px;
    display: block;
    margin: auto;
}

body {
background: #CAC531;  
background: -webkit-linear-gradient(to right, #F3F9A7, #CAC531);  
background: linear-gradient(to right, #F3F9A7, #CAC531); 
font-size: 25px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(14, 13, 13);
    
}
.text{
    color: rgb(219, 219, 0);
    background-color:gray;
 }

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1rem;

}

